<% layout('layouts/boilerplate')%>

    <h1>All Clubs</h1>
    <div>
        <a href="/clubs/new">Add Club</a>
    </div>
    
        <% for (let club of clubs) { %>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <%if(club.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=club.images[0].url%>">
                    <% }else {%>
                    <img class="img-fluid" alt=""
                        src="https://res.cloudinary.com/dy7nkdujd/image/upload/v1646246994/ComedyApp/z6xx2ewqaztp9ckjw2vz.jpg">
                    <% } %>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= club.title %></h5>
                    <p class="card-text"><%= club.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= club.location %></small>
                    </p>
                    <a href="/clubs/<%=club._id%>"class="btn btn-primary">View <%=club.title%></a>
                </div>
            </div>
        </div>
    </div>
        <% } %>
    
    
